body {
    color: azure;
    background-color:rgb(0, 0, 0);
    background-image:url("");
}

hr{
border: 2px solid rgb(253, 246, 246);
}
h1{
background-color: rgba(63, 205, 179, 0.932);
}

.linked{
height: 20px;
}